<!--Password Reset Confirm-->
{% extends "Base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!-- <div class="container p-5">
    
        <div class="container p-5">
            <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
            <hr>
            <h3>Please read the instructions before you proceed.</h3><br>
            <form method="POST">
                {% csrf_token %}
                <span class="helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span><br>

                <input type="hidden" name="csrfmiddlewaretoken" value="ARFszKnQdUGWYa4MXBQSp3em0YOVnimSviwt4GOMZr6PK2PyCbUb0Z53ypkguvXW">
                <label for="id_new_password1">New Password:</label>
                <input style="border-radius: 6px; border:2px solid skyblue;" class="form-control" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1"><br>
                

                <label for="id_new_password2">New Password Confirmation:</label>
                <input style="border-radius: 6px; border:2px solid skyblue;" class="form-control" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2"> <br>

                <button class="btn btn-primary" type="submit">Reset Password</button>
            </form>
        </div>  
             
</div> -->

<form method="POST">
    {% csrf_token %}

    <div class="form-row">
        <div class="form-group offset-md-1 col-md-6 text-primary rounded">
            {{form.new_password1|as_crispy_field}}   
        </div>
     </div>
    

     <div class="form-row">
        <div class="form-group offset-md-1 col-md-6 text-primary">
            {{form.new_password2|as_crispy_field}}   
        </div>
     </div>

     <div class="form-row">
        <div class="form-group offset-md-1 col-md-6">
            <button class="btn btn-primary col-md-4 col-sm-12" type="submit">Reset Password</button>   
        </div>
     </div>

</form>

{% endblock %}