{% extends "Base.html" %}

{% load static %}

{% block content %}

<!--Reset Password-->

<div class="container p-5">
     <div class="container p-5">
        <h2 class="font-weight-bold mt-3">Reset Password</h2>
     <hr>
     <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
     <form method="POST">
        {% csrf_token %}
         <input type="hidden" name="csrfmiddlewaretoken" value="rNBcFj5ICp5QoD06bmcCuO3cugyUoIIekGiZGvnisKXnwdLAf32q4Ul6YBl6eoC1">
         <label for="id_email">Email:</label>
         <input style="border-radius: 6px; border:2px solid skyblue;" class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required id="id_email"><br>                 
         <button class="btn btn-primary" type="submit">Send Email</button>
     </form>
    </div>
</div>

{% endblock %}