{% extends 'Base2.html' %}

{% load static %}

{% block content %}

       

        <section class="section db p120">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tagline-message page-title text-center">
                            <h3>About US</h3>
                            <ul class="breadcrumb">
                                <li><a href="javascript:void(0)">TeamTechKenya</a></li>
                                <li class="active">Know</li>
                            </ul>
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end section -->

        <section class="section gb nopadtop">
            <div class="container">
                <div class="boxed">
                    <div class="row">

                        <div class="sidebar col-md-4">
                            <div class="widget clearfix">
                                <div class="banner-widget">
                                    <img src="{% static 'upload/3.jpg' %}" alt=""  class="img-responsive img-rounded wow slideInLeft">
                                </div>
                            </div>

                            <div class="widget clearfix">
                                <h3 class="widget-title"><u>Our Vision</u></h3>
                                <div class="post-widget">
                                    <div class="media">
                                        
                                        <div class="media-body">
                                            <h5 class="mt-0"><a href="blog-single.html">Learning English Like a Pro..wwedfghjkaffdghnmrweghjmedfgghnjgjyjtrty4evfesfetvevyrtdrggSsSfsdgsdsdgr rgegeg g gdfsdfs</a></h5>
                                            <div class="blog-meta">
                                                <ul class="list-inline">
                                                </ul>
                                            </div><!-- end blog-meta -->
                                        </div>
                                    </div>
                                <h3 class="widget-title"><u>Our Mission</u></h3>    
                                    <div class="media">
                                        <div class="media-body">
                                            <h5 class="mt-0"><a href="blog-single.html">How to create a beautiful website with Bootstrap</a></h5>
                                            <div class="blog-meta">
                                                <ul class="list-inline">
                                                </ul>
                                            </div><!-- end blog-meta -->
                                        </div>
                                    </div>
                                <h3 class="widget-title"><u>Our Slogan</u></h3>
                                    <div class="media">
                                        <div class="media-body">
                                            <h5 class="mt-0"><a href="blog-single.html">Don't forget to update your Google web master tools</a></h5>
                                            <div class="blog-meta">
                                                <ul class="list-inline">
                                                </ul>
                                            </div><!-- end blog-meta -->
                                        </div>
                                    </div>
                                </div><!-- end post-widget -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->


                        
                        <div class="col-md-8">
                            <div class="content blog-list">
                                <div class="blog-wrapper clearfix">
                                    <div class="blog-meta">
                                        <small><a href="#">Technology is our voice.</a></small>
                                        <h3><a href="blog-single.html" title="">How to Hire Icon Designer for Your Next Project</a></h3>
                                        <ul class="list-inline">
                                            <li>6 hours ago</li>
                                            <li><span>written by</span> <a href="#">Edulogy Team</a></li>
                                        </ul>
                                    </div><!-- end blog-meta -->

                                    <div class="blog-media caro-item">
                                        <a href="{% static 'upload/5.jpg' %}" title=""><img src="{% static 'upload/5.jpg' %}" alt="" class="img-responsive img-rounded wow slideInRight"></a>
                                    </div><!-- end media -->

                                    <div class="blog-desc-big">
                                        <p class="lead"> We are a team of Young skilled developers who are ready to be ambassadors of technology in the globe.</p>
                                        <p>We intensively deal with all kinds of softwares including web development,cloud computing services,search engine optimization services, mobile application, desktop applications development and offer learning sessions to new developers.</p>
                                        
                                    </div><!-- end desc -->
                                </div><!-- end blog -->
                            </div><!-- end content -->

                            
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end boxed -->
            </div><!-- end container -->
        </section>

 {% endblock %}


 