{% extends "Base.html" %}

{% load static %}

{% block content %}

<!-- page title -->
<!--================================
=            Page Title            =
=================================-->
<section class="page-title">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 text-center">
				<!-- Title text -->
				<h3>Contact Us</h3>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>
<!-- page title -->

<!-- contact us start-->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-us-content p-4">
                    <h5>Contact Us</h5>
                    <h1 class="pt-3">Hello, what's on your mind?</h1>
                    <p class="pt-3 pb-5">In case of any question or any other concern in relation with our company or our services you can contact us via this platform.</p>
                </div>
            </div>
            <div class="col-md-6">
                    <form action="" method="POST">
                        <fieldset class="p-4">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 py-2">
                                        <input style="border-radius: 6px; border:2px solid skyblue;" name="Name" type="text" placeholder="Name" class="form-control" required>
                                    </div>
                                    <div class="col-lg-6 pt-2">
                                        <input style="border-radius: 6px; border:2px solid skyblue;" name="Phone" type="text" placeholder="Phone" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <input style="border-radius: 6px; border:2px solid skyblue;" name="Email" type="email" placeholder="Email" class="form-control" required><br>
                            <input style="border-radius: 6px; border:2px solid skyblue;" name="Subject" type="text" placeholder="Subject" class="form-control" required>
                            <textarea style="border-radius: 6px; border:2px solid skyblue;" name="Message" id=""  placeholder="Message goes here.." class="w-100 p-3 mt-3 mt-lg-4"></textarea>
                            <div class="btn-grounp">
                                <button type="submit" class="btn btn-primary mt-2 float-right">SUBMIT</button>
                            </div>
                        </fieldset>
                    </form>
            </div>
        </div>
    </div>
</section>
<!-- contact us end -->

<!--============================
=            Footer            =
=============================-->

{% endblock %}