{% extends "Base.html" %}

{% load static %}

{% block content %}

<!--===============================
=            Hero Area            =
================================-->

<section style="background-image: url('{% static "images/team/About3.jpg" %}');" class="hero-area  text-center overly">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Header Contetnt -->
				<div class="content-block">
					<h1>Team Tech Kenya </h1>
					<p>Welcome to TeamTechKenya software development company <br> Technology is our voice here</p>
					<div class="short-popular-category-list text-center">
						<h2>Popular Accounts</h2>
						<ul class="list-inline">
							<li class="list-inline-item">
								<a href="https://www.facebook.com/Teamtechkenya-100446841977643/"><i class="fa fa-facebook"></i> Facebook</a></li>
							<li class="list-inline-item">
								<a href="https://twitter.com/teamtechkenya"><i class="fa fa-twitter"></i> Twitter</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.instagram.com/teamtechkenya/"><i class="fa fa-instagram"></i> Instagram</a>
							</li>
							<li class="list-inline-item">
								<a href="#"><i class="fa fa-linkedin"></i> LinkedIn</a>
							</li>
							<li class="list-inline-item">
								<a href="https://www.youtube.com/"><i class="fa fa-youtube"></i> YouTube</a>
							</li>
						</ul>
					</div>
					
				</div>
				<!-- Advance Search -->
				<div class="advance-search">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-lg-12 col-md-12 align-content-center">
										<form action="{% url 'TTK:Search' %}" method="GET">
											<div class="form-row">
												<div class="form-group col-md-4">
													<input name="title" type="text" class="form-control my-2 my-lg-1" id="inputtext4" placeholder="Search Blog Titles">
												</div>
												<div class="form-group col-md-3">
													<select placeholder="qwidj" name="about" class="w-100 form-control mt-lg-1 mt-md-2">
														<option value="">Search Blog Category</option>
														<option value="WEB">WEB</option>
														<option value="ADROID">ADROID</option>
														<option value="DESKTOP">DESKTOP</option>
														<option value="SYSTEMS">SYSTEMS</option>
													</select>
												</div>
												<div class="form-group col-md-3">
													<input name="description" type="text" class="form-control my-2 my-lg-1" id="inputLocation4" placeholder="Describe Search">
												</div>
												<div class="form-group col-md-2 align-self-center">
													<button type="submit" class="btn btn-primary">Search Now</button>
												</div>
											</div>
										</form>
									</div>
								</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

<!--===================================
=            Client Slider            =
====================================-->


<!--===========================================
=            Popular deals section            =
============================================-->

<section class="popular-deals section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2>Current Projects</h2>
					<p>Check out some of our latest and greatest projects.
						We are best at what we do. We drive ideas into amazing products by offering tailored solutions to meet your specific needs.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- offer 01 -->
			<div class="col-lg-12">
				<div class="trending-ads-slide">
					<div class="col-sm-12 col-lg-4">
						<!-- product card -->
<div class="product-item bg-light">
	<div class="card">
		<div class="thumb-content">
			<!-- <div class="price">$200</div> -->
			<a href="{% url 'TTK:Services' %}">
				<img class="card-img-top img-fluid" src="{% static 'images/products/4.jpg' %}" alt="Card image cap">
			</a>
		</div>
		<div class="card-body">
		    <h4 class="card-title"><a href="{% url 'TTK:Services' %}">MoonLightStores</a></h4>
		    <ul class="list-inline product-meta">
		    	<li class="list-inline-item">
		    		<a href="{% url 'TTK:Services' %}"><i class="fa fa-folder-open-o"></i>Web Applicatin</a>
		    	</li>
		    	<li class="list-inline-item">
		    		<a href="#"><i class="fa fa-laptop"></i>@teamtechkenya</a>
		    	</li>
		    </ul>
		    <p class="card-text">Having a problem in software development.
Do you want to learn code phisically or have a good learning curve in programming.
Let us Know</p>
		    <div class="product-ratings">
		    	<ul class="list-inline">
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item"><i class="fa fa-star"></i></li>
		    	</ul>
		    </div>
		</div>
	</div>
</div>



					</div>
					<div class="col-sm-12 col-lg-4">
						<!-- product card -->
<div class="product-item bg-light">
	<div class="card">
		<div class="thumb-content">
			<!-- <div class="price">$200</div> -->
			<a href="{% url 'TTK:Services' %}">
				<img class="card-img-top img-fluid" src="{% static 'images/products/5.jpg' %}" alt="Card image cap">
			</a>
		</div>
		<div class="card-body">
		    <h4 class="card-title"><a href="{% url 'TTK:Services' %}">InnovationClub</a></h4>
		    <ul class="list-inline product-meta">
		    	<li class="list-inline-item">
		    		<a href="{% url 'TTK:Services' %}"><i class="fa fa-folder-open-o"></i>Web Applicatin</a>
		    	</li>
		    	<li class="list-inline-item">
		    		<a href="#"><i class="fa fa-laptop"></i>@teamtechkenya</a>
		    	</li>
		    </ul>
		    <p class="card-text">Having a problem in software development.
Do you want to learn code phisically or have a good learning curve in programming.
Let us Know</p>
		    <div class="product-ratings">
		    	<ul class="list-inline">
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item"><i class="fa fa-star"></i></li>
		    	</ul>
		    </div>
		</div>
	</div>
</div>



					</div>
					<div class="col-sm-12 col-lg-4">
						<!-- product card -->
<div class="product-item bg-light">
	<div class="card">
		<div class="thumb-content">
			<!-- <div class="price">$200</div> -->
			<a href="{% url 'TTK:Services' %}">
				<img class="card-img-top img-fluid" src="{% static 'images/products/4.jpg' %}" alt="Card image cap">
			</a>
		</div>
		<div class="card-body">
		    <h4 class="card-title"><a href="{% url 'TTK:Services' %}">TeamTechKenya</a></h4>
		    <ul class="list-inline product-meta">
		    	<li class="list-inline-item">
		    		<a href="{% url 'TTK:Services' %}"><i class="fa fa-folder-open-o"></i>Web Applicatin</a>
		    	</li>
		    	<li class="list-inline-item">
		    		<a href="#"><i class="fa fa-laptop"></i>@teamtechkenya</a>
		    	</li>
		    </ul>
		    <p class="card-text">Having a problem in software development.
Do you want to learn code phisically or have a good learning curve in programming.
Let us Know</p>
		    <div class="product-ratings">
		    	<ul class="list-inline">
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item"><i class="fa fa-star"></i></li>
		    	</ul>
		    </div>
		</div>
	</div>
</div>



					</div>
					<div class="col-sm-12 col-lg-4">
						<!-- product card -->
<div class="product-item bg-light">
	<div class="card">
		<div class="thumb-content">
			<!-- <div class="price">$200</div> -->
			<a href="{% url 'TTK:Services' %}">
				<img class="card-img-top img-fluid" src="{% static 'images/products/5.jpg' %}" alt="Card image cap">
			</a>
		</div>
		<div class="card-body">
		    <h4 class="card-title"><a href="{% url 'TTK:Services' %}">AgriDoctorKenya</a></h4>
		    <ul class="list-inline product-meta">
		    	<li class="list-inline-item">
		    		<a href="{% url 'TTK:Services' %}"><i class="fa fa-folder-open-o"></i>Web Applicatin</a>
		    	</li>
		    	<li class="list-inline-item">
		    		<a href="#"><i class="fa fa-laptop"></i>@teamtechkenya</a>
		    	</li>
		    </ul>
		    <p class="card-text">Having a problem in software development.
Do you want to learn code phisically or have a good learning curve in programming.
Let us Know</p>
		    <div class="product-ratings">
		    	<ul class="list-inline">
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item"><i class="fa fa-star"></i></li>
		    	</ul>
		    </div>
		</div>
	</div>
</div>



					</div>
				</div>
			</div>
			
			
		</div>
	</div>
</section>

<!--====================================
=            Call to Action            =
=====================================-->

<section class="call-to-action overly bg-3 section-sm">
	<!-- Container Start -->
	<div class="container">
		<div class="row justify-content-md-center text-center">
			<div class="col-md-8">
				<div class="content-holder">
					<h2>Start today to get more qualified software products from us</h2>
					<ul class="list-inline mt-30">
						<li class="list-inline-item"><a class="btn btn-main" href="{% url 'TTK:Services' %}">Our Services</a></li>
						<li class="list-inline-item"><a class="btn btn-secondary" href="{% url 'TTK:Contact' %}">Our Contacts</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

<!--============================
=            Footer            =
=============================-->

{% endblock %}





