{% extends "Base.html" %}

{% load static %}

{% block content %}

<!--==================================
=            User Profile            =
===================================-->

<section class="user-profile section">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
				<div class="sidebar">
					<!-- User Widget -->
					<div class="widget user">
						<!-- User Image -->
						<div class="image d-flex justify-content-center">
							<img src="{{request.user.profile.Image.url}}" alt="" class="">
						</div>
						<!-- User Name -->
						<h5 class="text-center">{{request.user.profile.user}}</h5>
					</div>
					<!-- Dashboard Links --><br>
					<div class="widget dashboard-links">
						<ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
				<!-- Edit Profile Welcome Text -->
				<div class="widget welcome-message">
					<h2>Edit profile</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
				</div>
				<!-- Edit Personal Info -->
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<div class="widget personal-info">
							<h3 class="widget-header user" style="color: rgb(78, 119, 158);">Edit Personal Information</h3>
							<form action="{% url 'TTK:UpdateProfile' request.user.profile.id %}" method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="form-group">
									<label for="first-name">First Name</label>
									{{form.FName}}
								</div>
								<!-- Last Name -->
								<div class="form-group">
									<label for="last-name">Last Name</label>
									{{form.LName}}
									<!-- <input style="border-radius: 6px; border:2px solid skyblue;" type="text" class="form-control" id="last-name"> -->
								</div>
								<div class="form-group">
									<label for="last-name">Email</label>
									{{form.Email}}
									<!-- <input style="border-radius: 6px; border:2px solid skyblue;" type="text" class="form-control" id="last-name"> -->
								</div>
								<!-- File chooser -->
								<div class="form-group choose-file d-inline-flex">
									<i class="fa fa-user text-center px-3"></i>
									{{form.Image}}
								 </div>
								<!-- Submit button -->
								<button type="submit" style="border-radius: 6px; border:2px solid skyblue;" class="btn btn-transparent">Save My Changes</button>
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>

<!--============================
=            Footer            =
=============================-->

{% endblock %}