{% extends "Base.html" %}

{% load static %}

{% block content %}


{% for message in messages %}
<marquee><h3 style="color: red; width:16%; height:35px;">{{message}}</h3></marquee>
{% endfor %}

<section class="login py-5 border-top-1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-8 align-item-center">
                    <div class="border border">
                        <h3 class="bg-gray p-4">Register Now</h3>
                        <form action="" method="POST">
                          {% csrf_token %}
                            <fieldset class="p-4">
                                <input required type="text" placeholder="First Name" name="fname" class="border p-3 w-100 my-2">
                                <input required type="text" placeholder="Last Name" name="lname" class="border p-3 w-100 my-2">
                                <input required type="text" placeholder="Username" name="username" class="border p-3 w-100 my-2">
                                <input required type="email" placeholder="Email" name="email" class="border p-3 w-100 my-2">
                                <input required type="password" placeholder="Password" name="password1" class="border p-3 w-100 my-2">
                                <input required type="password" placeholder="Confirm Password" name="password2" class="border p-3 w-100 my-2">
                                <div class="loggedin-forgot d-inline-flex my-3">
                                        <input type="checkbox" id="registering" class="mt-1">
                                        <label for="registering" class="px-2">By registering, you accept our <a class="text-primary font-weight-bold" href="#">Terms & Conditions</a></label>
                                </div>
                                <button type="submit" class="d-block py-3 px-4 bg-primary text-white border-0 rounded font-weight-bold">Register Now</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--============================
=            Footer            =
=============================-->

{% endblock %}