{% extends "Base.html" %}

{% load static %}

{% block content %}


<!--==========================================
=            All Category Section            =
===========================================-->

<section class=" section">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section title -->
				<div class="section-title">
					<h2>Services Description</h2>
					<p>Suspendisse tristique porttitor magna, ac pulvinar libero lobortis at. Quisque sit amet facilisis eros. Vestibulum id ligula elementum, rutrum nunc sit amet, vulputate diam. Phasellus finibus mauris leo, quis commodo elit pellentesque quis. Phasellus a justo in enim maximus dictum nec interdum erat. Integer varius justo id nunc vulputate scelerisque. Curabitur maximus tristique magna. Nulla ut laoreet turpis, vel porta mauris. Suspendisse et varius orci, eget ullamcorper lacus. Duis accumsan odio at elit facilisis semper</p>
				</div><br><br>
				<center><h1>Some of Our Projects</h1></center><br>

				<div class="row">
					<!-- Category list -->

					
					{% for project in projects %}
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="category-block">
							<div class="header">
								<img class="card-img-top img-fluid" src="{{project.Display_Image.url}}" alt="Card image cap"> 
								<h4>{{project.Name}}</h4>
							</div>
							<ul class="category-list" >
								<li>{% if project.Link %}<a href="{{project.Link}}">{{project.Type}}</a>{% endif %}</li>
							</ul>
						</div>
					</div> <!-- /Category List -->
					{% endfor %}

					<!-- Category list -->
					
					
					
					
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>


{% endblock %}